@import 'image-store.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Side Bar*/
.sidebar {
  float: left;
  width: 25%;
}

/* Blog Post content */
.content {
  float: left;
  width: 75%;
  padding-left: 30px;
  padding-top: 2.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .sidebar, .content {
    width: 100%;
    padding: 0;
  }
}

/* For Grid of Image layout */
.nestedGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
}

.photoBox {
  width: 350px;
  height: 150px;
  background-color: #ddd;
}

/* For row image layout */
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: left;
}

.flex-item {
  width: 350px;
  height: 150px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 2px solid #cbcbcb;
}

/* Responsive layout - makes a one column-layout instead of n-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nestedGrid {
    display: block;
    width: 100%;
    padding: 0;
  }
}