* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.footer { 
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px; 
}

.content {
  float: left;
  width: 75%;
}

.sidebar {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.image-frame {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.image-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .sidebar, .content {   
    width: 100%;
    padding: 0;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* GitHub */
.fa-github {
  background: #040404;
  color: white;
}

/* Linkedin */
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  

/* YouTube */
.fa-youtube {
  background: #e22508;
  color: white;
}