@import 'awesome-icons.css';
@import 'nav-bar.css';
@import 'profile.css';
@import 'custom-button.css';
@import 'image-frame.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: white;
}

.footer { 
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px; 
}

.content {
  float: left;
  width: 75%;
}

.sidebar {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .sidebar, .content {   
    width: 100%;
    padding: 0;
  }
}
